 <section class="count">
        <div class="container">
            <div class="row align-items-center">

                <!-- Block 1 -->
                <div class="col-md-4 d-flex align-items-center">
                    <h2 class="counter statistic-number mb-0 " data-target="89" data-suffix="k">0</h2>
                    <p class="mb-0 statistic-text">
                        Porta justo integer and velna vitae auctor
                    </p>
                </div>

                <!-- Block 2 -->
                <div class="col-md-4 d-flex align-items-center">
                    <h2 class="counter statistic-number mb-0 " data-target="76" data-suffix="%">0</h2>
                    <p class="mb-0 statistic-text">
                        Ligula magna suscipit vitae and rutrum
                    </p>
                </div>

                <!-- Block 3 -->
                <div class="col-md-4 d-flex align-items-center">
                    <h2 class="counter statistic-number mb-0" data-target="4.93" data-decimal="true">0</h2>
                    <p class="mb-0 statistic-text">
                        Sagittis congue augue egestas an egestas
                    </p>
                </div>

            </div>
        </div>
    </section>

   