 <header class="hero-header">

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">

                <!-- LOGO -->
                <a class="navbar-brand" href="#">
                    <img class="main-logo" src="images/logo-white.png" alt="Logo" height="38" width="163">
                </a>

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ms-auto">


                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#">About</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Why Martex</a></li>
                                <li><a class="dropdown-item" href="#">Integration</a></li>
                                <li><a class="dropdown-item" href="#">How it works</a></li>
                                <li><a class="dropdown-item" href="#">Best solutions</a></li>
                                <li><a class="dropdown-item" href="#">Testimonials</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link active" href="#Features">Features</a></li>

                        <li class="nav-item dropdown dropdown-mega">
                            <a class="nav-link active dropdown-toggle" href="#">Pages</a>

                            <div class="dropdown-menu mega-menu p-4">
                                <div class="row">

                                    <!-- Column 1 -->
                                    <div class="col-lg-3">
                                        <ul class="list-unstyled">
                                            <li><a class="dropdown-item" href="#">About Us</a></li>
                                            <li><a class="dropdown-item" href="#">Our Team</a></li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center" href="#">
                                                    Careers
                                                    <span class="badge bg-danger ms-2">4</span>
                                                </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#">Career Details</a></li>
                                            <li><a class="dropdown-item" href="#">Contact Us</a></li>
                                        </ul>
                                    </div>

                                    <!-- Column 2 -->
                                    <div class="col-lg-3">
                                        <ul class="list-unstyled">
                                            <li><a class="dropdown-item" href="#">Core Features</a></li>
                                            <li><a class="dropdown-item" href="#">Our Projects</a></li>
                                            <li><a class="dropdown-item" href="#">Project Details</a></li>
                                            <li><a class="dropdown-item" href="#">Testimonials</a></li>
                                            <li><a class="dropdown-item" href="#">Download Page</a></li>
                                        </ul>
                                    </div>

                                    <!-- Column 3 -->
                                    <div class="col-lg-3">
                                        <ul class="list-unstyled">
                                            <li><a class="dropdown-item" href="#">Pricing Page #1</a></li>
                                            <li><a class="dropdown-item" href="#">Pricing Page #2</a></li>
                                            <li><a class="dropdown-item" href="#">FAQs Page</a></li>
                                            <li><a class="dropdown-item" href="#">Help Center</a></li>
                                            <li><a class="dropdown-item" href="#">404 Page</a></li>
                                        </ul>
                                    </div>

                                    <!-- Column 4 -->
                                    <div class="col-lg-3">
                                        <ul class="list-unstyled">
                                            <li><a class="dropdown-item" href="#">Blog Listing</a></li>
                                            <li><a class="dropdown-item" href="#">Single Blog Post</a></li>
                                            <li><a class="dropdown-item" href="#">Login Page</a></li>
                                            <li><a class="dropdown-item" href="#">Signup Page</a></li>
                                            <li><a class="dropdown-item" href="#">Reset Password</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>


                        <li class="nav-item"><a class="nav-link active" href="#">Pricing</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">FAQs</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">Sing in</a></li>

                        <li class="nav-item">
                            <a class="btn btn-get-started ms-lg-3" href="#">Sing up</a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>

        <!-- HERO CONTENT -->
        <div class="container hero-content">
            <div class="row align-items-center">

                <!-- LEFT TEXT -->
                <div class="col-lg-6 text-white">
                    <h1 class="display-4 fw-bold">
                        Content is the key <br> to building an audience
                    </h1>
                    <p class="mt-4">
                        Mauris donec turpis suscipit sapien ociis sagittis sapien tempor a volute ligula and aliquet
                        tortor
                    </p>
                    <a href="#" class="btn btn-get-started ms-lg-3">Get Started For Free</a>
                    <p class="mt-4 trial-text">
                        No credit card needed, free 14-day trial
                    </p>

                </div>

                <!-- RIGHT IMAGE -->
                <div class="col-lg-6 text-center">
                    <img src="images/hero-1-img.png" alt="Hero Image" class="img-fluid hero-right-img">
                </div>

            </div>
        </div>

    </header>
