   <section class="insights-section ">
        <div class="container">

            <!-- TITLE -->
            <div class="row justify-content-center insights-title-div mb-5">
                <div class="col-lg-10 text-center">
                    <h2 class="insights-title">
                        Discover insights across all your <br>
                        data with Martex
                    </h2>

                    <p class="insights-subtitle">
                        Ligula risus auctor tempus magna feugiat lacinia.
                    </p>
                </div>
            </div>

            <!-- IMAGE -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-12 text-center">
                    <img src="images/img-19.png" alt="Insights chart" class="img-fluid insights-img">
                </div>
            </div>

            <!-- BUTTON -->
            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <a href="#" class="btn insights-btn">
                        Monitor your activity
                    </a>
                </div>
            </div>

            <!-- FOOT TEXT -->
            <div class="row justify-content-center mt-4">
                <div class="col-auto">
                    <p class="insights-foot">
                        Free 14 days trial <span>|</span> Exclusive Support <span>|</span> No Fees
                    </p>
                </div>
            </div>

        </div>
    </section>
