<section class="integration-section">
        <div class="container">

            <div class="row align-items-center">

                <!-- LEFT IMAGE (ONE IMAGE ONLY) -->
                <div class="col-lg-6 mb-4 text-center">
                    <img src="images/img-02.png" class="img-fluid tools-image" alt="" width="605" height="520">
                </div>

                <!-- RIGHT TEXT -->
                <div class="col-lg-6 integration-right">

                    <span class="text-uppercase small text-muted mb-4   ">
                        EASY INTEGRATION
                    </span>

                    <h2 class="fw-bold ">
                        Plug your essential tools <br>
                        in few clicks
                    </h2>
                    <ul class="mt-4 text-muted">
                        <li class="mb-2">Cursus purus suscipit vitae cubilia magnis volute egestas vitae sapien turpis
                            sodales magna
                            undo aoreet primis</li>
                        <li class="mb-2">Tempor sapien quaerat an ipsum laoreet purus and sapien dolor an ultrice ipsum
                            aliquam undo
                            congue dolor cursus purus congue and ipsum purus sapien a blandit</li>
                    </ul>

                </div>

            </div>

        </div>
    </section>