  <section class="py-5">
        <div class="container">
            <div class="martex-banner text-center">

                <h2 class="banner-title">
                    Starting with Martex is easy,<br> fast and free
                </h2>

                <p class="banner-subtitle">
                    It only takes a few clicks to get started
                </p>

                <a href="#" class="btn btn-martex">
                    Get started - it's free
                </a>

                <p class="banner-small">
                    <i class="fa-solid fa-check"></i>
                    Free for 14 days, no credit card required.
                </p>

            </div>
        </div>
    </section>