<section class="social-section">
        <div class="container">

            <!-- TITLE -->
            <div class="text-center mb-5">
                <h2 class="fw-bold social-title">
                    Reach your audience through <br>
                    social media marketing
                </h2>

                <p class="text-muted">
                    Ligula risus auctor tempus magna feugiat lacinia.
                </p>
            </div>

            <div class="row g-4 align-items-center">

                <!-- LEFT BOX -->
                <div class="col-lg-6">
                    <div class="social-box shadow-sm text-center">

                        <h4 class="fw-bold">Marketing Integrations</h4>

                        <p class="text-muted ">
                            Aliquam a augue suscipit luctus diam neque purus ipsum neque
                            and dolor primis libero
                        </p>


                        <img src="images/f_06.png" width="460px" height="307px">




                    </div>
                </div>

                <!-- RIGHT BOX -->
                <div class="col-lg-6">
                    <div class="social-box shadow-sm text-center">

                        <img src="images/f_04.png" class="img-fluid rounded-4" alt="Video">

                        <h4 class="fw-bold">Productivity Focused</h4>

                        <p class="text-muted">
                            Aliquam a augue suscipit luctus diam neque purus ipsum neque and dolor primis libero
                        </p>

                    </div>
                </div>

            </div>

        </div>
    </section>