   <section class="solutions-section">
        <div class="container">

            <!-- SECTION TITLE -->
            <div class="text-center mb-5">
                <h2 class="solutions-title">The Complete Solutions</h2>
                <p class="solutions-subtitle">
                    Ligula risus auctor tempus magna feugiat lacinia.
                </p>
            </div>

            <!-- FEATURE BOXES -->
            <div class="row text-center">

                <!-- BOX 1 -->
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="solution-box">
                        <div class="solution-img">
                            <img src="images/f_01.png" alt="">
                        </div>
                        <h5 class="solution-title">Intuitive Dashboard</h5>
                        <p class="solution-text">
                            Luctus egestas augue undo ultrice aliquam in lacus congue dapibus
                        </p>
                    </div>
                </div>

                <!-- BOX 2 -->
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="solution-box">
                        <div class="solution-img">
                            <img src="images/f_05.png" alt="">
                        </div>
                        <h5 class="solution-title">Effortless Integration</h5>
                        <p class="solution-text">
                            Tempor laoreet augue undo ultrice aliquam in lacus luctus feugiat
                        </p>
                    </div>
                </div>

                <!-- BOX 3 -->
                <div class="col-lg-4 col-md-6 mb-5 mx-auto">
                    <div class="solution-box">
                        <div class="solution-img">
                            <img src="images/f_02.png" alt="">
                        </div>
                        <h5 class="solution-title">Engagement Analysis</h5>
                        <p class="solution-text">
                            Egestas luctus augue undo ultrice aliquam in lacus feugiat cursus
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <hr class="divider">
