   <section class="testimonial-section">
            <div class="container">

                <!-- TITLE -->
                <div class="text-center testimonial-title ">
                    <h2 class="testimonial-title">
                        Here’s what our amazing clients <br> are saying
                    </h2>
                    <p class="testimonial-subtitle">
                        Ligula risus auctor tempus magna feugiat lacinia.
                    </p>
                </div>

                <!-- SLIDER -->
                <div class="testimonial-slider">
                    <div class="testimonial-track">

                        <!-- CARD 1 -->
                        <div class="testimonial-card">
                            <p>
                                Augue egestas porta tempus volutpat egestas augue cubilia laoreet a magna suscipit luctus
                                dolor blandit vitae purus neque tempus an aliquet porta gestas rutrum blandit vitae</p>
                            <div class="author">
                                <img src="images/review-author-1.jpg">
                                <div>
                                    <h6>Evelyn Martinez</h6>
                                    <span>WordPress Consultant</span>
                                </div>
                            </div>
                        </div>

                        <!-- CARD 2 -->
                        <div class="testimonial-card">
                            <p>Auque at vitae purus tempus egestas volutpat augue undo cubilia laoreet magna suscipit luctus
                                dolor blandit at purus tempus feugiat impedit</p>
                            <div class="author">
                                <img src="images/review-author-2.jpg">
                                <div>
                                    <h6>Scott Boxer</h6>
                                    <span>@scott_boxer</span>
                                </div>
                            </div>
                        </div>

                        <!-- CARD 3 -->
                        <div class="testimonial-card">
                            <p>Etiam sapien sagittis congue augue a massa varius egestas ultrice varius magna a tempus
                                aliquet undo cursus suscipit</p>
                            <div class="author">
                                <img src="images/review-author-3.jpg">
                                <div>
                                    <h6>Leslie D.</h6>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                        </div>

                        <!--  CARD 4 -->
                        <div class="testimonial-card">
                            <p>Augue egestas porta tempus volutpat egestas augue cubilia laoreet a magna suscipit luctus
                                dolor blandit vitae purus neque tempus an aliquet porta gestas rutrum blandit vitae</p>
                            <div class="author">
                                <img src="images/review-author-4.jpg">
                                <div>
                                    <h6>Jennifer Harper</h6>
                                    <span>App Developer</span>
                                </div>
                            </div>
                        </div>

                        <!-- CARD 5 -->
                        <div class="testimonial-card">
                            <p>Auque at vitae purus tempus egestas volutpat augue undo cubilia laoreet magna suscipit luctus
                                dolor blandit at purus tempus feugiat impedit</p>
                            <div class="author">
                                <img src="images/review-author-5.jpg">
                                <div>
                                    <h6>Mike Harris</h6>
                                    <span>Graphic Designer</span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- CARD 6 -->
                        <div class="testimonial-card">
                            <p>Etiam sapien sagittis congue augue a massa varius egestas ultrice varius magna a tempus
                                aliquet undo cursus suscipit</p>
                            <div class="author">
                                <img src="images/review-author-6.jpg">
                                <div>
                                    <h6>Mike Harris</h6>
                                    <span>Graphic Designer</span>
                                </div>
                            </div>
                        </div>

                        <!-- CARD 7 -->
                        <div class="testimonial-card">
                            <p>Augue egestas porta tempus volutpat egestas augue cubilia laoreet a magna suscipit luctus
                                dolor blandit vitae purus neque tempus an aliquet porta gestas rutrum blandit vitae</p>
                            <div class="author">
                                <img src="images/review-author-7.jpg">
                                <div>
                                    <h6>Mike Harris</h6>
                                    <span>Graphic Designer</span>
                                </div>
                            </div>
                        </div>

                        <!-- CARD 8 -->
                        <div class="testimonial-card">
                            <p>Auque at vitae purus tempus egestas volutpat augue undo cubilia laoreet magna suscipit luctus
                                dolor blandit at purus tempus feugiat impedit</p>
                            <div class="author">
                                <img src="images/review-author-8.jpg">
                                <div>
                                    <h6>Mike Harris</h6>
                                    <span>Graphic Designer</span>
                                </div>
                            </div>
                        </div>

                        <!-- CARD 9 --> 
                        <div class="testimonial-card">
                            <p>Etiam sapien sagittis congue augue a massa varius egestas ultrice varius magna a tempus
                                aliquet undo cursus suscipit</p>
                            <div class="author">
                                <img src="images/review-author-8.jpg">
                                <div>
                                    <h6>Mike Harris</h6>
                                    <span>Graphic Designer</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- DOTS -->
                <div class="slider-dots">
                    <span class="dot active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>

            </div>
        </section>