   <section class="workflow-section">
        <div class="container">
            <div class="row align-items-center">

                <!-- LEFT CONTENT -->
                <div class="col-lg-6">
                    <span class="section-tag">PRODUCTIVITY FOCUSED</span>

                    <h2 class="workflow-title">
                        Achieve more with <br>
                        better workflows
                    </h2>

                    <p class="workflow-text">
                        Sodales tempor sapien quaerat ipsum undo congue laoreet turpis neque
                        auctor turpis vitae dolor luctus placerat magna and ligula cursus purus
                        vitae purus an ipsum suscipit
                    </p>

                    <ul class="workflow-list">
                        <li>Magna dolor luctus at egestas sapien</li>
                        <li>Cursus purus suscipit vitae cubilia magnis volute egestas vitae sapien</li>
                        <li>Volute turpis dolores and sagittis congue</li>
                    </ul>
                </div>

                <!-- RIGHT IMAGE -->
                <div class="col-lg-6 text-center">
                    <div class="workflow-img">
                        <img src="images/img-13.png" alt="Workflow Image">
                    </div>
                </div>

            </div>
        </div>
    </section>
